:host {
  border: 1px dotted rgb(11, 12, 12);
  color: gray;
  display: inline-block;
  width: 150px;
  height: 150px;
}

.container {
  color: rgb(35, 16, 207);
  display: inline-block;
  font-family: sans-serif;
  font-size: 40px;
  width: 100%;
  line-height: 150px;
  text-align: center;
}
