<div class="container">
   <img src="../assets/img/tic.png" alt="Snow" style="width:100%;height:400px">
   <div #name3 id="top-left" place="1"(click)="chose(s.arr1[0])"></div>
   <div #name2 id="top-centered" place="2"(click)="chose(s.arr1[1])"></div>
   <div #name6 id="top-right" place="3"(click)="chose(s.arr1[2])"></div>
   <div #name4 id="centered-left" place="4"(click)="chose(s.arr1[3])"></div>
   <div #name8 id="centered" place="5"(click)="chose(s.arr1[4])"></div>
   <div #name5 id="centered-right" place="6"(click)="chose(s.arr1[5])"></div>
   <div #name id="bottom-left" place="7"(click)="chose(s.arr1[6])"></div>
   <div #name1 id="bottom-centered" place="8"(click)="chose(s.arr1[7])"></div>
   <div #name7 id="bottom-right" place="9"(click)="chose(s.arr1[8])"></div>
</div>
<!-- <button (click)="updeates()">next</button> -->
<button (click)="s.restart()">restart</button>