<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->
<div *ngIf="!exists">
<div class="sidenav">
         <div class="login-main-text">
            <h2>games Application</h2><br> 
            <p>Login or register from here to access.</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form>
                  <div class="form-group">
                     <label>User Name</label>
                     <input #User_Name type="text" class="form-control" placeholder="User Name">
                  </div>
                  <div class="form-group">
                     <label>Password</label>
                     <input #Password type="password" class="form-control" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-black"  (click)="login(User_Name.value,Password.value)">Login</button>
                  <button type="submit" class="btn btn-secondary" (click)="register(User_Name.value,Password.value)">Register</button>
               </form>
            </div>
         </div>
      </div>
   </div>

   <div *ngIf="exists">
      <app-all-games></app-all-games>
   </div>