/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';


* {
    font-family: 'Press Start 2P', cursive;
  }
  

  .grid {
    display: grid;
    grid-template-columns: 320px 200px;
    margin-left: 35%;
    margin-top: 5%;
  }
  
  .right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .game-board {
    border: solid 5px;
  }
  
  .play-button {
    background-color: #4caf50;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
  }
  .return-button {
    background-color: #e9141f;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
  }